.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  max-width: none;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Inter ui', sans-serif;
  font-size: 58px;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: underline;
}

.section {
  position: relative;
  display: block;
  height: 100vh;
  margin-right: 60px;
  margin-bottom: 100px;
  margin-left: 60px;
}

.section.rrr-section {
  display: none;
}

.section.footer {
  height: 400px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-bottom: 100px;
  background-color: #010f15;
}

.container {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.container.intro-container {
  background-color: transparent;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.heading {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
}

.heading.reuse-title {
  color: #101961;
  text-align: center;
}

.form-block {
  position: relative;
  z-index: 2;
  margin-top: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-field {
  display: inline-block;
  width: 100%;
  height: 63px;
  margin-top: 0px;
  margin-right: 40px;
  padding-bottom: 10px;
  padding-left: 24px;
  border: 1px none #cdcdcd;
  border-radius: 10px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.05);
  font-size: 23px;
}

.submit-button {
  display: inline-block;
  height: 63px;
  padding: 20px 24px;
  border-radius: 10px;
  background-color: #d87a00;
}

.body {
  margin: 0px;
  background-color: transparent;
  font-family: 'Inter ui', sans-serif;
  font-size: 23px;
  line-height: 23px;
}

.left-allign {
  text-align: left;
}

.grid {
  padding-right: 58px;
  padding-left: 58px;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-template-areas: "textfield signup";
  -ms-grid-columns: 2.25fr 1fr;
  grid-template-columns: 2.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.mission-h1 {
  color: #3c0f7c;
}

.join-h1 {
  position: relative;
  z-index: 2;
  color: #a05a01;
  font-style: normal;
}

.footer-background {
  position: absolute;
  left: -60px;
  top: 0%;
  right: -60px;
  bottom: 0%;
  display: block;
  width: 100%;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-span {
  text-decoration: underline;
}

.grid-2 {
  justify-items: end;
  grid-template-areas: "left right" "logo .";
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.footer-text {
  position: relative;
  display: inline;
  color: #fff;
  line-height: 28px;
}

.footer-text.right {
  text-align: right;
}

.image {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.footer-email-link {
  color: #fff;
}

.footer-email-link:visited {
  color: #fff;
}

.loading-page {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #323232;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.image-2 {
  width: 135px;
  height: 135px;
  -webkit-filter: contrast(200%);
  filter: contrast(200%);
}

.intro-title {
  position: relative;
  z-index: 2;
  text-shadow: 0 0 6px hsla(0, 0%, 100%, 0.35);
}

.loading-h1 {
  color: #fff;
}

.intro-gradient {
  position: absolute;
  left: -60px;
  top: 0%;
  right: -60px;
  bottom: 0%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(transparent));
  background-image: linear-gradient(180deg, #fff, transparent);
}

.canvas-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.full-screen-bg-image {
  position: absolute;
  left: -60px;
  top: 0%;
  right: -60px;
  bottom: 0%;
  z-index: -1;
  background-image: url('../images/Group-8.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.full-screen-bg-image.refill-section {
  background-image: url('../images/20.png');
  background-position: 50% 50%;
  background-size: contain;
}

.full-screen-bg-image.bottle-0 {
  background-image: url('../images/6-Landing-2.png');
  background-position: 50% 50%;
  background-size: contain;
}

.full-screen-bg-image.bottle-img {
  background-image: url('../images/6-Landing-3.png');
  background-position: 50% 50%;
  background-size: contain;
  transition: opacity 200ms ease-in-out;
}

.image-3 {
  position: absolute;
  left: 50%;
  top: auto;
  right: 0%;
  bottom: 100px;
  width: 60px;
  height: 60px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

@media (max-width: 991px) {
  h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .section {
    height: 70vh;
  }
  .form-block {
    display: block;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
  .text-field {
    font-size: 18px;
  }
  .submit-button {
    font-size: 18px;
  }
  .grid {
    padding-right: 20px;
    padding-left: 20px;
  }
  .join-h1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .footer-text {
    font-size: 18px;
    line-height: 24px;
  }
  .image-2 {
    width: 85px;
    height: 85px;
  }
  .full-screen-bg-image {
    background-position: 50% 50%;
  }
  .image-3 {
    height: 50px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 23px;
  }
  .section {
    display: block;
    height: 70vh;
    margin-right: 20px;
    margin-left: 20px;
  }
  .section.footer {
    display: block;
  }
  .grid {
    padding-right: 0px;
    padding-left: 0px;
  }
  .footer-background {
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid-2 {
    grid-template-areas: "left left" "right right" "logo logo";
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .footer-text.right {
    text-align: left;
  }
  .intro-gradient {
    left: -20px;
    right: -20px;
  }
  .full-screen-bg-image {
    left: -20px;
    top: 100px;
    right: -20px;
  }
  .image-3 {
    height: 40px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 15px;
    line-height: 26px;
  }
  .section {
    height: 45vh;
    margin-right: 10px;
    margin-left: 10px;
  }
  .text-field {
    height: 40px;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 15px;
    font-size: 12px;
  }
  .submit-button {
    height: 40px;
    padding: 0px;
    font-size: 12px;
  }
  .footer-background {
    left: 20px;
    right: 20px;
    width: auto;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .grid-2 {
    width: auto;
    margin-left: 0px;
    padding-left: 0px;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "left left" "right right" "logo logo";
    -ms-grid-rows: auto 0px auto 0px auto;
    grid-template-rows: auto auto auto;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
  .image-2 {
    width: 70px;
    height: 70px;
  }
  .intro-gradient {
    left: -10px;
    right: -10px;
  }
  .heading-2 {
    font-size: 17px;
  }
  .full-screen-bg-image {
    left: -10px;
    top: 20px;
    right: -10px;
  }
  .full-screen-bg-image.refill-section {
    background-size: contain;
  }
  .image-3 {
    bottom: 50px;
  }
}

#email.w-node-1ad7fa660629-0cb4437a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: textfield;
}

#w-node-1ad7fa66062d-0cb4437a {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: signup;
}

#w-node-266a53d3ab25-0cb4437a {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: logo;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-d8c7463fbd3a-0cb4437a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  grid-area: left;
}

#w-node-b5e70a343ba4-0cb4437a {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  grid-area: right;
}

@media (max-width: 767px) {
  #w-node-266a53d3ab25-0cb4437a {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  #w-node-d8c7463fbd3a-0cb4437a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  #w-node-b5e70a343ba4-0cb4437a {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media (max-width: 479px) {
  #w-node-266a53d3ab25-0cb4437a {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-d8c7463fbd3a-0cb4437a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-b5e70a343ba4-0cb4437a {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@media screen and (max-width: 479px) {
  #email.w-node-1ad7fa660629-0cb4437a {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  #w-node-d8c7463fbd3a-0cb4437a {
    -ms-grid-column-align: start;
    justify-self: start;
  }
  #w-node-b5e70a343ba4-0cb4437a {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}

@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter ui';
  src: url('../fonts/Inter-UI-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Moon Get!';
  src: url('../fonts/moon_get-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}